$cool-cyient: #0099A7;
.test
{
background-color:$cool-cyient;
}
.cardstyle{

}
.sizesty{
  font-size: 14px;
  background-color:transparent;

  color: $cool-cyient;
}
.tests{
  background-color:$cool-cyient;
  margin-left: auto;
   margin-right: auto;
   display: block;


}
